<div style=width:80%;margin:0 auto; class="container" >




<% @Menu.errors.full_messages.each do |error| %>
    <p><%= error %></p>
    <%end%>





<%= form_for(@Menu) do |f| %>
<%= f.text_field :nombre, placeholder:"Nombre Menu" %>
<%= f.text_field :enlace, placeholder:"URL" %>



<%= f.submit "Guardar" %>

    <%end%>

    </div>