
<div style=width:80%;margin:0 auto; class="container" >

<% name ||="Crear" %>
<h1> <%=name%> Fundacion </h1>

<% @Foundation.errors.full_messages.each do |error| %>
    <p><%= error %></p>
    <%end%>


<%= form_for(@Foundation) do |f| %>
<%= f.text_field :nombre, placeholder:"Nombre de la fundaci贸n" %>
<%= f.text_area :resumen, placeholder:"Resumen para Zona de Fundaciones" %>
<%= f.text_area :objeto, placeholder:"Objeto de la fundaci贸n, misi贸n, visi贸n" %>
<%= f.phone_field :telefono, placeholder:"telefono", autofocus: true, placeholder: 'xxx-xxx-xx' %>
<%= f.url_field :sitio_web, placeholder:"URL sitio web - Incluir HTTP" %>


<%= f.submit "Guardar" %>

    <%end%>

    </div>