<table class="striped">
<thead>
  <tr>
      <th>Nombre fundación</th>
      <th>Resumen</th>
      <th colspan="2" >Accion</th>
  </tr>
</thead>

<tbody>
  <tr>
  <% @Foundation.each do |fundacion| %>
    <td><%= fundacion.nombre %></td>
    <td><%= fundacion.resumen %></td>
    <td><%= link_to 'Editar', edit_foundation_path(fundacion) %></td>
    <td><%= link_to "Eliminar", fundacion, method: :delete, data: { confirm: 'Esta seguro?' }%></td>
    </tr>
    <% end %>
  
  
</tbody>
</table>


<div class="row">
<% @Foundation.each do |fundacion| %>
<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= fundacion.nombre %></span>
      <p><%= fundacion.resumen %></p>
    </div>
    <div class="card-action">
      <a href="#">Ir a sitio web de la fundacion</a>
      <a href="#">Ver más</a>
    </div>
  </div>
</div>

<% end %>