
    <h3> <%= @Foundation.nombre %></h3>
    <p><%= @Foundation.resumen %></p>
    <p><%= @Foundation.objeto %></p>
    <p><%= @Foundation.telefono %></p>
    <p><%= @Foundation.sitio_web %></p>
    <br>

